@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body {
  height: 100%;
  background-image: url('../images/g.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Varela Round';
}

body {
  min-height: 100%;
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

.container {
  flex: 1; /* Allows the container to expand, filling the available space */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure the container fills the width of the body */
}

/* Style the title */
h1 {
  font-size: 2.5rem;
  font-family: impact;
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  color: #fafafa;
  /* letter-spacing: 0.3em; */
  text-shadow: 3px 2px #06274a;
}

h1:hover{
  color:#06274a;
  text-shadow: 3px 2px white;
}

.col.justify-content-center.my-3 {
  display: flex; /* This is likely already set by Bootstrap */
  justify-content: center; /* This centers the children horizontally */
  align-items: center; /* This centers the children vertically */
  gap: 20px; /* Adjust the space between the children */
  flex-wrap: wrap; /* Allows items to wrap if necessary */
}

.container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto; /* Adds scrolling within the container if the content exceeds viewport height */
}

/* .switch-button {
  background: rgba(255, 255, 255, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #155FFF;
  position: relative;
  padding-right: 120px;
}
.switch-button:before {
  content: "Pause";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(120px);
  transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 15px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
} */

#image-container img {
  max-width: 400px;
  max-height: 400px; /* change this to your preferred height */
  border: 1px solid #ccc; /* add a border */
  border-radius: 5px; /* add a border-radius */
}

/* Style the class labels */
#label-container div {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* Style updates for footer */
footer {
  /* background-color: #000; */
  /* color: #fff; */
  margin-top: 20pt;
  text-align: center;
  /* padding: 1rem 0; */
  width: 100%; /* Ensure the footer fills the width of the body */
  /* position: absolute; */
  /* bottom: 0; 
  left: 0; 
  right: 0;  */
}